html {
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 1) linear-gradient(-15deg, rgba(40, 40, 40, 1) 80%, #2f2674 90%) no-repeat;
    font-family: system-ui;
    display: flex;
}

body {
    margin: 0;
    padding: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}