#root {
  display: flex;
  flex-grow: 1;

  .main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    .header {
      width: 100%;

      h1 {
        color: white;
        font-size: 40px;
        display: flex;
        align-items: center;
        text-shadow: 2px 2px 4px #000000;
        margin: 0;

        img {
          width: 50px;
          height: 50px;
          margin-right: 20px;
          box-shadow: 2px 2px 4px #000000;
          border-radius: 100%;
        }
      }

      .entry-container {
        margin: 30px 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .entry {
          height: 40px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          min-width: 400px;
          width: 50%;
          flex-grow: 1;

          input[type='text'] {
            flex-grow: 1;
            font-size: 25px;
            background: transparent;
            border: 1px solid white;
            border-radius: 5px 0 0 5px;
            padding: 0 20px;
            color: white;
          }

          input[type='button'] {
            width: 64px;
            border: 1px solid white;
            border-left: 0;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
          }
        }
      }
    }

    .body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      table {
        border: 1px solid white;
        color: white;
        border-radius: 5px;

        tr {
          height: 30px;

          &:nth-of-type(2n) {
            background: rgba(255, 255, 255, 0.025);
          }

          td {
            &:first-of-type {
              font-weight: bold;
            }

            padding: 0 5px;
          }
        }
      }

      .main-infos {
        width: 100%;
        margin-bottom: 10px;
      }

      .transactions-container {
        display: flex;
        flex-grow: 1;
        height: 0px;

        .chart-container {
          border: 1px solid white;
          border-radius: 5px;
          margin-right: 10px;
          flex-grow: 1;
          display: flex;
          justify-content: center;
        }

        table {
          overflow: scroll;
          display: block;
          height: 100%;
          max-width: 50%;
          white-space: nowrap;

          td {
            width: 100px;
          }

        }
      }
    }

    .footer {
      color: white;
    }
  }
}